@import "null.css";
@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: CircularStd;
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: CircularStd;
}
.wrapper {
	max-width: 1025px;
	max-height: 894px;
	margin: 0 auto;
}
h1 {
	font-size: 65px;
	line-height: 82.22px;
	text-align: center;
	color: #313131;
	margin: 0 0 20px 0;
}
.text_1 {
	font-size: 20px;
	line-height: 25px;
	color: #5f5f5f;
	max-width: 750px;
	text-align: center;
	margin: 0 auto;
}
h3 {
	font-weight: 700;
	font-size: 34px;
	line-height: 44px;
	color: #313131;
	opacity: 0.88;
	margin: 224px 0 20px 0;
}
.text_2 {
	font-size: 18px;
	line-height: 28px;
	color: #5f5f5f;
	max-width: 508px;
	max-height: 140px;
	margin: 0 0 125px 0;
}
.text_3 {
	font-weight: 700px;
	font-size: 18px;
	line-height: 23px;
	color: #313131;
	opacity: 0.88;
	margin: 0 0 5px 0;
}
.text_4 {
	font-size: 18px;
	line-height: 23px;
	color: #b8b8b8;
	margin: 0 0 50px 0;
}
img {
	max-width: 401px;
	max-height: 674px;
	margin: 0 0 100px 0;
}
